*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;        
    left: 15px;
    top: 15px;
}
.header{
    width: 100%;
}

.website-name__span{       
    color: #000;
}
.website-name{
    font-family:cursive;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    display: inline;
    position: relative;
    top: 0;
    left: 20px;
}
.navigation{
    background: rgb(10,130,130);
    height: 80px;
    width: 100%;
    position: relative;      
    top: 0;
    
}
.head-list{
    float: right;         
    position: relative;
    top: 0;
}
.container{
    width: 100%;
}
.head-list__items{
    display: inline;
    line-height: 80px;
    margin: 0 10px;
}
.head-list__anchor{
    color: white;
    font-size: 19px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
}
.head-list__anchor:hover{
    background-color: #1b9bff;
    transition: .5s;
}
.menu-bar{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.menu-bar__image{
    width: 30px;
    height: 30px;
    position: relative;
    right: -3vw;
    top: 6px;
}
.check{
    display: none;
}


.container{
    display: flex;
    margin: 60px 0px;
    column-gap: 10%;
    width: 100%;
}
.product{
    width: 30%;
}
.product__image{
    width: 90%;
    height: 25vw;
}
.description-container{
    width: 55%;
    padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    background-color: #dfe3e8;
}
.descrption-container__tittle{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}
.detail-description{
    margin-top: 40px;
}
.product__name{
    text-align: center;
    color: #e1580e;
    font-size: 2.2vw;
    margin-top: 15px;
}
.product__price{
    text-align: center;
    display: block;
    font-size: 3vw;
    color: #30ca0a;
}
.product-ingredient{
    margin-top: 60px;
}
.product-ingredient__tittle{
    text-align: center;
    font-size: 2vw;
}
.product-table{
    width: 80%;
    object-position: center;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 10vw;
    margin-bottom: 15vw;
}
.product-table__head, .product-table__data{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6vw;
}
.product-table__head {
    background-color: darkblue;
    color: white;
}
.product-table tbody .product-table__row:nth-child(even){
    background-color: #f5f5f5;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.foot-container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.list{
    list-style: none;
}
.footer-container_col{
    width: 50%;
    padding: 0 15px;
}
.tittle{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:500;
    position: relative;
}
.tittle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.list__quick-link{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0,3s ease;
}
.list__quick-link:hover{
    color: #fff;
    padding-left: 6px;
}
.list__items:not(:last-child){
    margin-bottom: 10px;
}
.about-text2{
    color: #fff;
    width: 350px;
    font-size: 20px;
    line-height: 30px;
}
.foot-conntainer__col--info{
    margin-left: 45vw;
}
.copy{
    color: #fff;
    position: relative;
    bottom: -45px;
    font-size: 19px;
}
.tittle--follow{
    margin-top: 30px;
}
.social-box__image{
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 20px 20px 0;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.social-box__image:hover{
    color: #24262b;
    background-color: #fff;
    border: 1px solid rgb(97, 94, 94);
}

@media (max-width: 848px){
    .foot-conntainer__col{
        width: 50%;
        margin-bottom: 30px;
    }
    .foot-conntainer__col--info{
        margin-left: 30vw;
    }
    
}

@media (max-width: 848px){
    .descrption-container__tittle{
        font-size: 20px;
        margin-top: 20px;
    }
    .detail-description{
        margin-top: 30px;
    }
    .foot-conntainer__col{
        width: 50%;
        margin-bottom: 30px;
    }
    .foot-conntainer__col--info{
        margin-left: 30vw;
    }
    
}
@media (max-width: 537px){
   .row{
    display: block;
   } 
   .foot-conntainer__col--info, .about-text2, .social-box{
    margin-left: 10px;
}
}
@media (max-width: 394px){
    .about-text2{
        width: 180%;
    }
    .copy{
        font-size: 5vw;
    }

}
@media (max-width: 470px){
    .social-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "follow follow";
    }
    .tittle{
        grid-area: follow;
}
}
@media (max-width:700px){
    .descrption-container__tittle{
        font-size: 17px;
        margin-top: 17px;
    }
    .detail-description{
        margin-top: 25px;
    }
}
@media (max-width: 970px){
    .head-list__anchor{
        font-size: 16px;
    }
    .website-name{
        font-size: 16px;
    }
}
@media (max-width: 1000px){
    .menu-bar{
        display: block;
    }
    .head-list{                   
        position: fixed;
        width: 100%;
        height: 100vw;
        background-color: #2c3e50;
        top: 80px;
        left: -200%;
        text-align: center;
        transition: all .5s;
    }
    .head-list__items{         
        display: block;
        margin: 8vw 0;
        line-height: 30px;
    }
    .head-list__anchor{
        font-size: 20px; 
    }
    .head-list__anchor:hover{
        background: none;
        color: #0082e6;
    }
    .check:checked ~ .head-list{
        left: 0;
    }
}
@media (max-width: 630px){
    .container{
        display: block;
    }
    .product{
        width: 250px;
        height: auto;
        margin-left: 15%;
    }
    .product-image{
        justify-content: center;
    }
    .description-container{
        font-size: 15px;
        width: 100%;
        margin-top: 30px;
    }
    .product__name{
        font-size: 18px;
    }
    .product__price{
        font-size: 17px;;
    }
    .product-table__head, .product-table__data{
        font-size: 18px;
    }
    .product-ingredient__tittle{
        font-size: 20px;
    }
}
@media (max-width: 400px){
    .website-name{
        font-size: 4.5vw;
        position: relative;
        top: 0;
        left: 17px;
    }
    .container{
        margin: 30px 0px;
        width: 100%;
    }
    .product {
        width: 200px;
        height: auto;
        margin-left: 15%;
    }
    .product__name {
        font-size: 15px;
    }
    .product__price {
        font-size: 16px;
    }
    .product-table__head, .product-table__data{
        font-size: 14px;
    }
    .product-ingredient__tittle{
        font-size: 16px;
    }
}
