*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;        
    left: 15px;
    top: 15px;
}
.header{
    width: 100%;
}

.website-name__span{       
    color: #000;
}
.website-name{
    font-family:cursive;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    display: inline;
    position: relative;
    top: 0;
    left: 20px;
}
.navigation{
    background: rgb(10,130,130);
    height: 80px;
    width: 100%;
    position: relative;      
    top: 0;
    
}
.head-list{
    float: right;         
    position: relative;
    top: 0;
}
.container{
    width: 95%;
}
.head-list__items{
    display: inline;
    line-height: 80px;
    margin: 0 10px;
}
.head-list__anchor{
    color: white;
    font-size: 19px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
}
.head-list__anchor:hover{
    background-color: #1b9bff;
    transition: .5s;
}
.menu-bar{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.menu-bar__image{
    width: 30px;
    height: 30px;
    position: relative;
    right: -3vw;
    top: 6px;
}
.check{
    display: none;
}
.anchors{
    text-decoration: none;
}

.top-image{
    width: 100%;
    height: auto;
}
.body{
    background: #f6f6f6;
}
.blog-tittle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:35px;
    text-align: center;
    margin-top: 60px;
}
.container-flex{
    margin-top: 8vw;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    column-gap: 2.206vw;
    row-gap: 2.206vw;
    margin-top: 30px;
}
.product{
    width: 220px;
    margin: 30px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 1.471vw;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    transition: .4s;
    background: #f2f2f2;
    height: 320px;
    text-align: left;
    background: #191916;;
}
.product:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23);
}
.text-container__desciption{
    text-decoration: none;
    text-align: left;
    font-family: sans-serif;
    color: white;
    position: relative;
    top: 0;
    font-size: 14px;
    display: block;
    padding-left: 1.5vw;
}
.product__image{
    width: 210px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.product__audio-control{
    position: relative;
    top: 0px;
    left: 7px;
    width: 200px;
}

.product__video{
    width: 200px;
    position: relative;
    left: 10px;
    height: 230px;
}
.product--two{
    display: none;
}
.text-container__name{
    display: block;
    font-size: 20px;
    margin: 1.5rem 0.2rem;
    text-transform: uppercase;
    color: #4facfe;
    position: relative;
    top: 0;
    text-align: center;
    left: 0;
}
.text-container__name--video{
    margin-top: 10px;
}
.product__read-more{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(191, 43, 221);
    width: 10px;
    height: 20pxvw;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0.368vw;
    cursor:pointer;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    margin-left: 0px;
    position: relative;
    top: 10px;
    left: 70px;
}

    .text-container__desciption{
        font-size: 11px;
        margin-top: -12px;
    }
    .text-container__name{
        font-size: 13px;
    }
    

.buttons{
    margin: 7% 35%;
    display: flex;
    justify-content: space-between;
  }
.buttons__back-forward {
        /* width: 65px; */
        width: 30px;
        height: 45px;
        border: none;
        margin-right: 20px;
        border-radius: 5px;
        font-size: 2rem;
        background-color: lightgrey;
        cursor: pointer;
  }
.buttons__num-btn {
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    margin-top: 10px;
    /* width: 45px; */
    width: 20px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
  }
.buttons__back-forward:hover {
    background-color: whitesmoke;
  }
.buttons__num-btn:hover {
    background-color: white;
  }
  .footer{
    background-color: #24262b;
    padding: 70px 0;
}
.foot-container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.list{
    list-style: none;
}
.footer-container_col{
    width: 50%;
    padding: 0 15px;
}
.tittle{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:500;
    position: relative;
}
.tittle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.list__quick-link{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0,3s ease;
}
.list__quick-link:hover{
    color: #fff;
    padding-left: 6px;
}
.list__items:not(:last-child){
    margin-bottom: 10px;
}
.about-text2{
    color: #fff;
    width: 350px;
    font-size: 20px;
    line-height: 30px;
}
.foot-conntainer__col--info{
    margin-left: 45vw;
}
.copy{
    color: #fff;
    position: relative;
    bottom: -45px;
    font-size: 19px;
}
.tittle--follow{
    margin-top: 30px;
}
.social-box__image{
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 20px 20px 0;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.social-box__image:hover{
    color: #24262b;
    background-color: #fff;
    border: 1px solid rgb(97, 94, 94);
}

@media (max-width: 848px){
    .foot-conntainer__col{
        width: 50%;
        margin-bottom: 30px;
    }
    .foot-conntainer__col--info{
        margin-left: 30vw;
    }
    
}

@media (max-width: 537px){
   .row{
    display: block;
   } 
   .foot-conntainer__col--info, .about-text2, .social-box{
    margin-left: 10px;
}
}
@media (max-width: 394px){
    .about-text2{
        width: 180%;
    }
    .copy{
        font-size: 5vw;
    }

}
@media (max-width: 470px){
    .social-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "follow follow";
    }
    .tittle{
        grid-area: follow;
}
}
@media (max-width: 600px){
    .button-container {
    margin: 6% 30%;
  }
  .back-forward {
    width: 20%;
  }
  .num-btn {
    width: 15%;
  }
}
@media (max-width: 970px){
    .head-list__anchor{
        font-size: 16px;
    }
    .website-name{
        font-size: 16px;
    }
}
@media (max-width: 1000px){
    .menu-bar{
        display: block;
    }
    .head-list{
        position: fixed;
        width: 100%;
        height: 100vw;
        background-color: #2c3e50;
        top: 80px;
        left: -200%;
        text-align: center;
        transition: all .5s;
    }
    .head-list__items{
        display: block;
        margin: 8vw 0;
        line-height: 30px;
    }
    .head-list__anchor{
        font-size: 20px; 
    }
    .head-list__anchor:hover{
        background: none;
        color: #0082e6;
    }
    .check:checked ~ .head-list{
        left: 0;
    }
}
@media (max-width: 400px){
    .website-name{
        font-size: 4.5vw;
        position: relative;
        top: 0;
        left: 17px;
    }
}
@media (max-width: 785px){
    .product{
        width: 190px;
        height: 290px;
        margin-left: 20px;
    }
    .product__image{
        width: 180px;
        height: 150px;
    }
    .product__video{
        width: 168px;
    }
    .product__audio-control{
        width: 170px;
        height: 40px;
    }
    .container{
        column-gap: 50px;
    }
    .text-container__desciption{
        font-size: 12px;
    }
    .text-container__name{
        font-size: 15px;
    }
    .product__read-more{
        font-size: 10px;
        position: relative;
        top: 10px;
        left: 60px;
    }
   
}
@media (max-width: 640px){
    .product{
        width: 161px;
        height: 310px;
    }
    .blog-tittle{
        font-size: 30px;
    }
    .product__image{
        width: 150px;
        height: 130px;
    }
    .product__video{
        width: 150px;
        height: 170px;
        margin-left: -5px;
    }
    .product__audio-control{
        width: 150px;
        height: 40px;
    }
    .container{
        column-gap: 50px;
    }
    .slide-two{
        display: none;
    }
    .product__read-more{
        font-size: 9px;
        position: relative;
        top: 10px;
        left: 50px;
    }
    }