*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;        
    left: 15px;
    top: 15px;
}
.header{
    width: 100%;
}

.website-name__span{       
    color: #000;
}
.website-name{
    font-family:cursive;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    display: inline;
    position: relative;
    top: 0;
    left: 20px;
}
.navigation{
    background: rgb(10,130,130);
    height: 80px;
    width: 100%;
    position: relative;      
    top: 0;
    
}
.head-list{
    float: right;         
    position: relative;
    top: 0;
}
.container{
    width: 100%;
}
.head-list__items{
    display: inline;
    line-height: 80px;
    margin: 0 10px;
}
.head-list__anchor{
    color: white;
    font-size: 19px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
}
.head-list__anchor:hover{
    background-color: #1b9bff;
    transition: .5s;
}
.menu-bar{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.menu-bar__image{
    width: 30px;
    height: 30px;
    position: relative;
    right: -3vw;
    top: 6px;
}
.check{
    display: none;
}



.body{
    margin: 0;                 
    font-family: sans-serif;
    background: #f2f2f2;
}
.anchors{
    text-decoration: none;
}
.product__name{
    text-align: center;
    font-size: 1.3vw;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    height: 5.72vw;
}


.container__one, .container__two{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0px;
    column-gap: 2.206vw;
    row-gap: 2.206vw;
}  
.display-two{
    display: none;
}
.product{
    width: 19%;
    margin: 30px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 1.471vw;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0, 0.22);
    transition: .4s;
    background: #f2f2f2;
}
.product:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}
.product__image{
    width: 16vw;
    height: 16vw;
    object-position: center;
    margin: 0 auto;
    display: block;
}
.product__price{
    font-size: 1.3vw;
    text-align: center;
    color: #222f3e;
    margin-top: 10px;
}
.tittle{
    text-align: center;
    margin-bottom: -4vw;
    text-decoration: none;
}
.right-slider{
    position: relative;
    left: 47%;
    bottom: 20px;
   
}
.left-slider{
    position: relative;
    left: 32%;
    bottom: 20px;
}
.slider{
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.search-form__input{  
    background-color: rgb(219, 217, 217);
    width: 180px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0px 0px 25px;

}
.search-form__submit{
    position: relative;
    left: -5px;
    border-radius: 0px 25px 25px 0px;
    width: 70px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #7f3f3d;
    color: #fff;
}
.search-form__submit:hover{
    background-color: #7f5722;
}
.search-form{
    float: right;
    margin-top: 70px;
}
.top-container__image{
    width: 100%;
    height: auto;
    z-index: 1;
    margin-top: -68px;
}
.top-container__text{
    z-index: 2;
    width: 60%;
    position: relative;
    top: 25vw;
    left: 10%;
    color: #da5711;
    font-size: 3vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pro-tittle{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    position: relative;
    top: 40px;
    color:rgb(8, 7, 7)
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.foot-container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.list{
    list-style: none;
}
.footer-container_col{
    width: 50%;
    padding: 0 15px;
}
.tittle{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:500;
    position: relative;
}
.tittle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.list__quick-link{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0,3s ease;
}
.list__quick-link:hover{
    color: #fff;
    padding-left: 6px;
}
.list__items:not(:last-child){
    margin-bottom: 10px;
}
.about-text2{
    color: #fff;
    width: 350px;
    font-size: 20px;
    line-height: 30px;
}
.foot-conntainer__col--info{
    margin-left: 45vw;
}
.copy{
    color: #fff;
    position: relative;
    bottom: -45px;
    font-size: 19px;
}
.tittle--follow{
    margin-top: 30px;
}
.social-box__image{
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 20px 20px 0;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.social-box__image:hover{
    color: #24262b;
    background-color: #fff;
    border: 1px solid rgb(97, 94, 94);
}

@media (max-width: 848px){
    .foot-conntainer__col{
        width: 50%;
        margin-bottom: 30px;
    }
    .foot-conntainer__col--info{
        margin-left: 30vw;
    }
    
}
@media (max-width: 537px){
   .row{
    display: block;
   } 
   .foot-conntainer__col--info, .about-text2, .social-box{
    margin-left: 10px;
}
}
@media (max-width: 394px){
    .about-text2{
        width: 180%;
    }
    .copy{
        font-size: 5vw;
    }

}
@media (max-width: 470px){
    .social-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "follow follow";
    }
    .tittle{
        grid-area: follow;
}
}
@media (max-width: 970px){
    .head-list__anchor{
        font-size: 16px;
    }
    .website-name{
        font-size: 16px;
    }
}
@media (max-width: 1000px){
    .menu-bar{
        display: block;
    }
    .head-list{
        position: fixed;
        width: 100%;
        height: 100vw;
        background-color: #2c3e50;
        top: 80px;
        left: -200%;
        text-align: center;
        transition: all .5s;
    }
    .head-list__items{
        display: block;
        margin: 8vw 0;
        line-height: 30px;
    }
    .head-list__anchor{
        font-size: 20px; 
    }
    .head-list__anchor:hover{
        background: none;
        color: #0082e6;
    }
    .check:checked ~ .head-list{
        left: 0;
    }
}
@media (max-width: 400px){
    .website-name{
        font-size: 4.5vw;
        position: relative;
        top: 0;
        left: 17px;
    }
}
@media (max-width: 655px){
    .search-form__input{
        width: 160px;
        height: 36px;
    }
    .search-form__submit{
        height: 36px;
    }
    .product{
        width: 27vw;
        height: 30vw;
    }
    .product__name{
        font-size: 1.9vw;
    }
    .product__image{
        width: 25vw;
        height: 21vw;
    }
    .product__price{
        font-size: 2vw;
    }
    .slider{
        width: 30px;
        height: 30px;
    }
}
@media (max-width:500px){
    .product{
        width: 40vw;
        height: 42vw;
    }
    .product__image{
        width: 37vw;
        height: 29vw;
    }
    .product__name{
        font-size: 3vw;
    }
    .product__price{
        font-size: 3.2vw;
    }
}
@media (max-width:340px){
    .product{
    width: 47vw;
    height: 55vw;
    }
    .product__image{
        width: 43vw;
        height: 38vw;
    }
    .product__name{
        font-size: 4.3vw;
    }
    .product__price{
        font-size: 4.3vw;
    }
    .search-form__input{
        width: 130px;
        height: 33px;
    }
    .search-form__submit{
        height: 33px;
}
}